body {
    color: #333;
    font-size: 14px;
}

header {
    background-color: #ccc;
    padding: .5em;
}

body > header {
    padding: 1em;
}

h3 {
    font-size: 1.25em;
    border-bottom: solid .1em #333;
    margin-bottom: 1em;
}

a:link, a:visited, a:hover, a:active {
    color: blue;
}

#auth {
    float: right;
}

#auth a {
    margin-left: 1em;
}

#login {
    text-align: center;
}

form label {
    width: 7em;
    display: inline-block;
}

.long_label {
    width: 10em;
    text-align: right;
    margin-right: .5em;
}

form p {
    margin: .5em 0 0 0;
}

form p > label, form p > label + input {
    vertical-align: middle;
}

input.long_input {
    width: 30em;
}

input[type=radio] {
    margin: 0 2em 0 .5em;
}

input[type=radio][value=yes]:checked + img {
    display: none;
}

.left_side_button {
    float: left;
    margin-right: .5em;
}

.left_side_button > a {
    text-decoration: none;
    color: #333;
}

.form_result {
    color: red;
    font-size: larger;
    margin-bottom: 1em;
}

.form_result.confirm {
    color: green;
}

.container {
    margin: 1em;
    padding: 1em;
}

.group {
    border: solid #ccc .2em;
}

.title {
    font-size: larger;
    font-weight: bolder;
    margin-right: .5em;
}

.item {
    margin-top: .75em;
    display: table;
}

.edit_buttons {
    display: table-cell;
    vertical-align: middle;
    padding-right: .5em;
    text-align: center;
}

.detail_box {
    padding-left: .5em;
}

.detail_box img {
    width: 120px;
    height: 80px;
}

.label {
    font-weight: bolder;
}

.editor_container {
    width: 850px;
}